
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary_color: #f8b807;
$secondary_color:#b71a1b;
$font : 'Open Sans', sans-serif;
