
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600!important");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Mixins

div{font-family: $font-family-sans-serif;font-weight: 500}

@mixin animationMixin($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

@mixin transformOriginMixin($transformOrigin) {
  -webkit-transform-origin: $transformOrigin;
  -moz-transform-origin: $transformOrigin;
  -ms-transform-origin: $transformOrigin;
  transform-origin: $transformOrigin;
}

@mixin transformMixin($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}


// Materialize Textbox
.materialize-component .group{position:relative;margin-top:20px}
.materialize-component input{font-size:14px;padding:10px 10px 4px 5px;display:block;width:100%;border:none;border-bottom:1px solid #b2b2b2;transition: .3s;background-color:transparent;outline:3px solid white}
.materialize-component label{ color:#777777; font-size:14px;font-weight:normal;position:absolute;pointer-events:none;left:5px; top:7px; transition:0.2s ease all;  -moz-transition:0.2s ease all;  -webkit-transition:0.2s ease all;}
.materialize-component input:focus ~ label,.materialize-component input:valid ~ label {top:-15px;font-size:14px;color:$primary_color;}
.materialize-component.active input ~ label,.materialize-component input:valid ~ label {top:-15px;font-size:14px;color:$primary_color;}
.materialize-component .highlight {position:absolute;height:60%; width:100px; top:25%; left:0;pointer-events:none;opacity:0.5;}
.materialize-component input:focus ~ .highlight {-webkit-animation:inputHighlighter 0.3s ease;-moz-animation:inputHighlighter 0.3s ease;animation:inputHighlighter 0.3s ease;}
.materialize-component.active input ~ .highlight {-webkit-animation:inputHighlighter 0.3s ease;-moz-animation:inputHighlighter 0.3s ease;animation:inputHighlighter 0.3s ease;}
.materialize-component .bar { position:relative; display:block; width:100%;}
.materialize-component .bar:before,.materialize-component .bar:after 	{content:'';height:2px; width:0;bottom:0px; position:absolute;background:#f8b807; transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;}
.materialize-component .bar:before {left:50%;}
.materialize-component .bar:after {right:50%; }
.materialize-component input:focus ~ .bar:before,.materialize-component  input:focus ~ .bar:after {width:50%;}
//.materialize-component input.is-invalid { border-color: red; }
.helper-text{color:$secondary_color;margin-top: .5rem;font-size: 13px;padding-left: 4px;display: none}
.materialize-component.is-invalid .helper-text{display: block}
.materialize-component.is-invalid .bar:before,.materialize-component.is-invalid .bar:after{background-color:$secondary_color}
.materialize-component.is-invalid input:focus ~ label,.materialize-component.is-invalid input:valid ~ label{color: $secondary_color }



// Button
.button{height: 39px;min-width: 130px;color: white;font-size: 14px;font-family: 'Open Sans', sans-serif;font-weight: 700!important;text-transform: uppercase;border:0px;width:100%;cursor:pointer;transition:.3s;
  @media screen and (max-width: 768px) {font-size: 12px}
  @media screen and (max-width: 576px) {min-width:auto}}
.button:hover{filter: brightness(1.3)}
.button.grey{background-color:#777777;}
.button.red{background-color:$secondary_color;}
.button.yellow{background-color:$primary_color;}
.button.black{background-color:#333;}
.button.lightgrey{background-color:#cccccc;}
.button.lg{padding-left: 20px;padding-right: 20px}
.button.no-hover:hover{filter: none;cursor: unset}

/***********/
html,body{height: 100%;width: 100%;background-color:white;
  @media screen and (max-width: 768px) {
  font-size: 0.9rem
  }}
#body{transform: translateX(0px);transition: .3s}
#body.active{transform: translateX(-210px)}
.paragraph{font-size:13px;
  @media screen and (max-width: 768px) {
    font-size: 12px
   }}
.title{font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: 700!important;color: $secondary_color;margin-top: 1rem;margin-bottom: 1rem;text-transform: uppercase;
  @media screen and (max-width: 768px) {
    font-size: 17px
   }}
.subtitle{font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 700!important;color: $secondary_color;margin-top: 1rem;margin-bottom: 0rem;text-transform: uppercase}
.section-part{float:left}
.fa{transition: .3s}
.error404{margin:auto;width: 800px}
.error-message{color: $secondary_color}
.loading-intro{position: fixed;height: 100%;width:100%;}
.loading-intro img{top: 48%;left: 48%;transform: translate(-50%,-50%);position: fixed;margin-bottom: 40px;}

// Menu Mobile
.menu-mobile{position: fixed;height: 100%;width:200px;background-color: #333333;right: 0px;top:0px;z-index: 999;right: -200px;transition: .3s;padding: 20px}
.menu-mobile.active{right: 0px}
.menu-mobile-user-image{padding: 10px;text-align: center}
.menu-mobile-user-image .perfil-image,.menu-mobile-user-image .perfil-image-hover{width: 100px;height: 100px;margin:0px;display: inline-block;}
.menu-mobile-user-image .perfil-image-hover{background-size: cover;position: static;cursor: pointer;}
.menu-mobile-user-type{color: $primary_color;font-size: 24px;font-family: 'Pacifico', cursive;text-align: center;line-height: 24px}
.menu-mobile-user-name{font-family: $font; font-size: 19px;color:white;font-weight: 700!important;text-align: center}
.menu-mobile-option{color:white;font-size: 14px;padding: 10px 10px;border-bottom: 1px dashed #565655;font-weight: 700!important;text-transform: uppercase}
.menu-mobile-option.active span{transform: rotate(180deg);transition: .3s}
.menu-mobile-user-container-notification{text-align: center}
.menu-mobile-user-notification{display: inline-block;width: 30px;color:white; border-right: 1px solid #565655;
  border-left: 1px solid #565655;padding-top: 4px; padding-bottom: 4px;margin-top: 7px;margin-bottom: 7px}
.menu-mobile-user-notification a{color:white}
.menu-mobile-sub-option{color:white;padding:5px 10px}
.menu-mobile .navbar-redes{width: 100%;margin-top:30px;text-align: center}
.menu-mobile .navbar-redes-box{display: inline-block; float: inherit}
.close-mobile{position: fixed;height: 100%;width: 100%;z-index: 998;left: 0px;top: 0px;display:none}
.close-mobile.active{display:block}

// Login
.login-view{position: absolute;top: 0px;left: 0px;height: 100%;width: 100%;background-size:cover;
  @media screen and (max-width: 576px) {height: 750px;min-height:100%}}
.login-container{height: 480px;width: 500px;border:7px solid #aaaaaa;background-color:white;position:absolute;top: 50%;left:50%;transform:translate(-50%, -50%);text-align: center;padding-left: 4.5rem;padding-right: 4.5rem;padding-top: 130px;margin-top:40px;
  @media screen and (max-width: 768px) {margin-top:50px};
  @media screen and (max-width: 576px) {
    width: 90%;margin-top:50px;margin-bottom:50px;padding-left:1.5rem;padding-right:1.5rem
  }}
.login-container.recover-password{padding-top: 4.5rem}
.login-container.request-access{padding-top: 2.5rem}
.login-logo{position: absolute;left: 50%;transform:translateX(-50%);top: -219px;
  @media screen and (max-width: 576px) {
    width: 290px;top:-192px
   }}
.login-forget-password{color:black;text-decoration: underline;margin-top: 2.5rem}
.login-forget-password a{color:black;transition: .3s}
.login-forget-password a:hover{color:$secondary_color}
.unimaq-logo{position:absolute;right:15px;bottom: 15px;transition: .3s;width: 100px}
.unimaq-logo:hover{filter: brightness(1.2)}
.back-login{position: absolute;top:10px;left: 15px;font-family: $font;color:$secondary_color;font-weight: 700!important;cursor: pointer;}

// Navbar
.nav-bar{height: 72px;padding: 0px;
  @media screen and (max-width: 768px) {
   display:none;
  }}
.logo{@media screen and (max-width: 768px) {
  width: 100%
 }}
.navbar-options-container-supervisor .navbar-options-container-opt{
  @media screen and (max-width: 1200px) {  
      margin-right: 0px!important
}}  
.navbar-color{background-color:#333333;padding-top:13px;padding-bottom: 13px;height: 70px}
.navbar-arrow{color:white;line-height: 44px!important}
.navbar-user-icon{height: 42px;width:42px;background-color: white;border-radius: 50%;background-size: cover;background-position: center;overflow: hidden;border:2px solid white}
.navbar-user-icon img{height: 100%;width: 100%;}
.navbar-user-name{color:white;text-align: right;line-height: 18px;font-size: 13px;font-family: 'Open Sans', sans-serif;font-weight: 700!important;}
.navbar-user-name span{color:$primary_color;font-family: 'Pacifico', cursive;font-size: 17px;font-weight: 500}
.navbar-line{height: 38px;width:1px;background-color: #575756;float: left;}
.navbar-notifications{float:left;line-height: 38px;color:white}
.notifications-container{height: 38px;float: left;padding-left: 1rem;padding-right: 1rem;cursor: pointer}
.notification-alert{position: absolute;padding: 2px;line-height: 15px;text-align: center;height: 18px;width: 18px;border-radius: 50%;top:1px;left: 22px;background-color: $primary_color;color:white;font-family: $font;font-weight: bold;font-size: 11px}
.notifications-container span{font-size: 18px}
.navbar-options-container{color:white;font-size: 13px;@media screen and (max-width: 990px) {display:none;}}
.navbar-options-container-hidden{display: none;@media screen and (max-width: 990px) {display:block;}}
.navbar-options-container strong{text-transform: uppercase}
.navbar-options-container span{font-size: 15px}
.navbar-redes{height: 24px;width: 275px;color:#a6a6a6; z-index: 999;}
.navbar-redes-box{float:left;border: 1px solid #575756;padding: 0px .4rem;font-family: 'Open Sans', sans-serif;font-size: 13px;height: 100%;}
.navbar-redes-box span{color: #a6a6a6}
.navbar-redes-box:hover{background-color:#575756; transition: .3s}
.navbar-redes-box:hover span{color:#333333;}
.navbar-options-container-opt{background-color: transparent;transition: .2s;cursor: pointer;border-radius: 5px;color:white}
.navbar-options-container-opt-link{color:white;height: 100%;line-height: 44px}
.navbar-options-container-opt-link:hover{color: white;text-decoration: unset}
.navbar-options-container-opt:hover{background-color: #222;color:white;text-decoration: none}
.navbar-options-container-opt-link.active{color: $primary_color}
.navbar-notification-container{border-right: 1px solid #575756; border-left: 1px solid #575756}
.navbar-user-hover{background-color: transparent;transition:.2s;cursor:pointer;border-radius: 10px}
.navbar-user-hover:hover{background-color: #222}
.nav-bar-responsive{height: 70px; padding-left: 20px;padding-right: 20px;
  @media screen and (min-width: 768px) {
    display:none;
   }
}
.navbar-notifications {
  &.incoming-animate {
    @include animationMixin(ring 4s .7s ease-in-out);
    @include transformOriginMixin(50% 4px);
  }
}

@include keyframes(ring) {
  0% { @include transformMixin(scale(1.3) rotateZ(0)); }
  1% { @include transformMixin(scale(1.3) rotateZ(30deg)); }
  3% { @include transformMixin(scale(1.3) rotateZ(-28deg)); }
  5% { @include transformMixin(scale(1.3) rotateZ(34deg)); }
  7% { @include transformMixin(scale(1.3) rotateZ(-32deg)); }
  9% { @include transformMixin(scale(1.3) rotateZ(30deg)); }
  11% { @include transformMixin(scale(1.3) rotateZ(-28deg)); }
  13% { @include transformMixin(scale(1.3) rotateZ(26deg)); }
  15% { @include transformMixin(scale(1.3) rotateZ(-24deg)); }
  17% { @include transformMixin(scale(1.3) rotateZ(22deg)); }
  19% { @include transformMixin(scale(1.3) rotateZ(-20deg)); }
  21% { @include transformMixin(scale(1.3) rotateZ(18deg)); }
  23% { @include transformMixin(scale(1.3) rotateZ(-16deg)); }
  25% { @include transformMixin(scale(1.3) rotateZ(14deg)); }
  27% { @include transformMixin(scale(1.3) rotateZ(-12deg)); }
  29% { @include transformMixin(scale(1.3) rotateZ(10deg)); }
  31% { @include transformMixin(scale(1.3) rotateZ(-8deg)); }
  33% { @include transformMixin(scale(1.3) rotateZ(6deg)); }
  35% { @include transformMixin(scale(1.3) rotateZ(-4deg)); }
  37% { @include transformMixin(scale(1.3) rotateZ(2deg)); }
  39% { @include transformMixin(scale(1.3) rotateZ(-1deg)); }
  41% { @include transformMixin(scale(1.3) rotateZ(1deg)); }
  43% { @include transformMixin(scale(1) rotateZ(0)); }
  100% { @include transformMixin(scale(1) rotateZ(0)); }
}

@include keyframes(scaleRing) {
  100% {
    @include transformMixin(scale(1.5));
  }
}

/* Supervisor Navbar */
.supervisor .navbar-user-name span{font-family: $font;font-size: 14px}

/* Dropdown navbar */
.dropdown-menu{padding: 0px;min-width: 350px;box-shadow: rgba(0,0,0,.3)!important}
.dropdown-menu a{text-decoration: none}
.dropdown-header{font-family: $font;font-size: 14px;padding-left: .8rem;padding-top: .5rem;padding-bottom: .5rem;border-bottom: 1px solid #b2b2b2;color:#333;font-weight: 700!important}
.dropdown-body{padding-left: .8rem;padding-right: .8rem;margin-top:10px}
.notifications-box{height: 68px;cursor:pointer}
.notifications-box-type{width: 8px;height: 37px;background-color: transparent;transition: .3s; background-color: #ccc;}
.notifications-box-type.green{background-color: #19be00;}
.notifications-box-type-container{width: 13px;}
.notifications-box:hover .notifications-box-type{width: 13px}
.notifications-box-text-container{width: 247px;font-size: 12px;padding-left: 8px;line-height: 15px;font-family: $font;color:#333}
.notifications-box-text-container span{display: block;height: 44%;overflow:hidden;width: 100%;white-space: nowrap;text-overflow: ellipsis;line-height: 25px;padding-top: 4px}
.notifications-box-text-container-message .image-box-noti{width:50px;float: left;height: 100%;}
.notifications-box-text-container-message .image-box-noti div{height: 45px;width: 45px;background-color: #f9f9f9;margin-right: 10px;border-radius: 50%;margin-top:7px;overflow: hidden;position: relative}
.notifications-box-text-container-message .image-box-noti div img{height: 100%;width: 100%;position: absolute;left: 0px;}
.notifications-box-text-container-message .image-box-desc{width: calc(100% - 50px); float: left;height: 100%}
.notifications-box-text-container-message span{height: 30%;padding-top: 0px; line-height: 24px}
.notifications-box-text-container-message .notification-props-time{padding:0px;margin-bottom: 2px;}
.notification-props{width: 100%}
.notification-props div{display: inline-block;overflow: hidden;}
.notification-props-tag{color:white;background-color: #333;padding: 2px 6px;font-size: 9px;border-radius:5px;max-width: 90px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.notification-props-tag.notification-see-read{background-color: #19be00}
.notification-props-tag-last{margin-left: 5px;background-color: #aaa;max-width: 70px;overflow: hidden;;text-overflow: ellipsis; white-space: nowrap;}
.notification-props-time{padding: 3px 7px;font-size: 11px;}
.notifications-box-date-container{width: 62px;font-size: 12px;color:#b2b2b2;line-height: 120%}  
.dropdown-footer{color:$secondary_color;font-size: 13px;padding-top: 1px;padding-bottom: 2px}
.dropdown-footer a{color:$secondary_color;padding-top: .5rem;padding-bottom: .5rem;display: block}
.dropdown-footer a:hover{text-decoration: none}
.dropdown-toggle::after{display: none}
.dropdown-menu-only-links{min-width: 200px;padding-top: .2rem;padding-bottom: .2rem}
.dropdown-menu-opt{font-size: 13px;font-family: $font;padding-left: .8rem;padding-top: .2rem;padding-bottom: .2rem;transition: .1s;cursor: pointer;color:#333;text-decoration: none!important}
.dropdown-menu-opt:hover{background-color: $primary_color;color: white;text-decoration: none}
.dropdown-specific{height: 47px!important;cursor:pointer}
.dropdown-tabs{height: 30px;width: 100%;border-bottom: 1px solid #b2b2b2;font-family: $font;transition: .3s;position: relative;display:table;padding-left: 10px;padding-right: 10px;}

.dropdown-tab{text-align: center;line-height: 30px;cursor: pointer;transition: .3s;color:#333;
  font-weight: 600!important;display:table-cell;font-size:13px;}
.dropdown-tab.active{color:$secondary_color}
.notifications-opts{width: 100%;transition: .3s;position: relative;left: 0px}
.notifications-opt{width: 100%;float: left;min-height: 50px}


/* Category component */
.category-container{width: 90%;border: 1px solid #b2b2b2;height:157px;position:relative;cursor: pointer;color:#333;background-color: white;transition: .3s;
  @media screen and (max-width: 768px) {
    height:130px
   }
  }
.category-image {width:35%;float:left;height: 100%;text-align: center;background-color:white}
.category-image img{ height: 108px;width: 78px;
  @media screen and (max-width: 768px) {
    height:71%
   }
}
.category-description{width: 65%;float:left;height: 100%;font-family: 'Open Sans', sans-serif;padding-left: 1.9rem;position: relative;padding-right: 17%;transition:.2s;}
.category-description-title{font-size: 15px;text-transform: uppercase;font-weight: 700!important;margin-bottom: .4rem}
.category-description-content{height: 80px;text-overflow: ellipsis;overflow: hidden}
.category-plus{background-color: $secondary_color;position: absolute; right:-22px; top: 50%; transform:translateY(-50%);height:44px;width:44px;border-radius: 50%;color:white;transition:.3s}
.category-plus-icon{font-size: 1.3rem!important}
.category-container:hover{border-color:$primary_color; background-color: $primary_color}
.category-container:hover .category-description{background-color: $primary_color;color:white; transition: .5s}
.category-container:hover .category-plus{background-color: #333333}

/* IdeaProgress component */
.idea-progress{border-bottom: 1px dashed #b2b2b2}
.idea-progress-return{text-transform: uppercase;font-family: 'Open Sans', sans-serif;font-weight: 700!important;color:#333;transition:.2s;text-decoration: inherit!important;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px!important;display: block
   }}
.idea-progress-return:hover{color:$secondary_color}
.idea-progress-return span{padding-right: 4px}
.idea-progress-img{
  @media screen and (max-width: 768px) {
  min-width: 250px;width:50%;
 }}

/* CategoryDetail component */
.CategoryDetail{max-width: 200px;margin:auto;display:block}
.CategoryDetail-circle{height: 200px; width: 200px;border-radius:50%;border: 1px solid #b2b2b2}
.CategoryDetail-circle2{height: 190px; width: 190px;border-radius:50%; border: 1px solid #b2b2b2;margin-top:4px;margin-left:4px}
.CategoryDetail-description-title{font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: 700!important;text-transform: uppercase;margin-top: 1rem}
.CategoryDetail-description-content{margin-top:1rem;font-size: 14px;line-height: 120%;}
.box-day{background-color: #19be00;width: 100%;height: 38px;color:white;font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 700!important;}
.CategoryDetail-idea-name1{font-family: 'Pacifico';font-size: 25px;color:$secondary_color}
.CategoryDetail-idea-name2{font-family: $font;}
.category-detail-title{font-weight: bold;font-family: $font;color: $secondary_color;font-size: 16px;margin-top: 12px}
.category-detail-subtitle{font-weight: bold;margin-top:8px}
.category-detail ul{margin-left: 0px;padding-left: 20px}

/* IdeaForm component */
.problem-container-header{font-family: 'Open Sans', sans-serif;font-weight: 600!important;text-transform: uppercase}
.idea-form .problem-container-header span{margin-left: .5rem;color:$secondary_color;transition: .3s; cursor: pointer;}
.idea-form .problem-container-header span:hover{filter: brightness(1.3)}
.idea-form .materialize-component{margin-bottom: 1.7rem}
.idea-form .solution-container{padding-left: 3rem}
.col-part{float:left;min-width:calc(100% - 41px)}
.idea-form-minus span{font-size: 30px;padding-top:24px;padding-right: 15px;color: $secondary_color}
.idea-form-minus.inactive span{color: #cccccc;cursor:default}
.solution-container .materialize-component{margin-bottom: .5rem}
.idea-form .materialize-component input{padding-bottom: 0px}
.idea-form-minus span{transition: .3s;cursor: pointer}
.idea-form-minus span:hover{filter: brightness(1.2)}
.idea-form-minus.inactive span:hover{filter: none}

/* IdeaForm Inactive component */
.idea-form.inactive .materialize-component .group input{background-color:#e0e0e0}
.idea-form.inactive .problem-container-header span{color: #cccccc;}
.idea-form .problem-container-header.inactive span{color: #cccccc;}
.idea-form .problem-container-header.inactive span:hover{filter: none;cursor:default;}
.idea-form.inactive .problem-container-header span:hover{filter: none;cursor:default;}
.idea-form.inactive span:hover{filter: none;cursor:auto}
.idea-form.inactive .materialize-component label{opacity: 0;}
.idea-form.inactive .fa{color: #e0e0e0;}

/* Evaluate Progress component */
.evaluate-idea-container{width: 210px;height: 25px; border:1px dashed $secondary_color;font-size:15px;color: $secondary_color;text-align: center;line-height: 25px;font-family: 'Open Sans', sans-serif;}
.evaluate-idea-container.change-date{border: 0px;text-align: left}
.evaluate-progress-container{font-family: 'Open Sans', sans-serif;font-size: 15px}
.evaluate-progress-container span{font-weight: 700!important}

/* ChatBox component */
.chatBox-title{color:#333; font-family: $font;font-weight: 700!important;font-size: 14px}
.chatBox-subtitle{color:#333; font-family: $font;font-weight: 700!important;font-size: 14px}

/* Chat component */
.chat-card{border:1px solid #b2b2b2; border-left: 8px solid #ccc;padding: 15px;font-family: $font;padding-right: 10px}
.chat-card-message{width: calc(100% - 180px);float:left;line-height: 140%}
.chat-card-date{float: left;width: 180px;font-size: 12px;color:#b2b2b2;margin-top: -5px;text-align: right;transition: .3s}
.chat-card-date-container-image-circle{height: 50px;width: 50px;border-radius: 50%;background-size: cover;background-color: #ccc;overflow: hidden;}
.chat-card-date-container-image-circle img{height: 100%;width: 100%;}
.chat-card-date-container-image, .chat-card-date-container-data{float: right;}
.chat-card-date-container-data{max-width: 114px;}
.chat-card-date-container-data-username{line-height: 126%}
.chat-card-date-container-data-username-title{font-size: 13px}
.chat-card-date-container-image{margin-left: 10px}
.chatBox-message-part1{float: left;width: calc(100% - 70px)}
.chatBox-message-part2{float: left;width: 70px;color:$secondary_color; cursor: pointer;border:0px;background-color: transparent}
.chatBox-message-part2 div div{height: 45px;width: 45px;background-color: $secondary_color;border-radius: 50%;padding-top: 12px;text-align: center}
.chatBox-message-part2 span{color:white;font-size: 22px}
.chatBox-message-part1 .materialize-component .group{margin-top:0px}

/* Ideas */
.ideas-image img{ 
  @media screen and (max-width: 768px) {
  width: 100%
 }}
.table thead th{border-top:0px;font-family: $font}
.table td{padding: .5rem;font-size: 13px;}
.ideas-container{font-family: $font}

/* Mis ideas */
.mis-ideas-link-container{text-align: center;margin-top: 2rem;margin-bottom: 2rem}
.subtitle-mis-ideas{border-bottom: 1px solid $secondary_color;padding-bottom: 5px;height: 29px}
.subtitle-mis-ideas a{color: $secondary_color!important} 
.subtitle-mis-ideas span{margin-left: 10px;margin-right: 10px}
.subtitle-mis-ideas i{font-style: normal;font-weight: 400;font-size: 13px}
.subtitle-mis-ideas .subtitle-icon{float: right;padding: 6px;padding-top: 6px;cursor: pointer;position: relative;top: -5px}
.subtitle-mis-ideas span{transform: rotate(0deg);transition: .3s}
.subtitle-mis-ideas .subtitle-icon.active span{transform: rotate(180deg)}
.mis-ideas-link{font-size: 13px;font-family: $font;background-color: $primary_color;padding: .6rem 1.3rem; color: white;display: inline-block;transition: .3s}
.mis-ideas-link:hover{color:white;text-decoration: none;filter: brightness(1.1)}
.mis-ideas-br{margin-bottom: 2rem}
.mis-ideas-container-no-register{text-align: center;color:$secondary_color;margin-top: 25px}
.mis-ideas-container-carga{margin-top: 1rem;margin-bottom: 1rem;text-align: center}
.mis-ideas-container-carga img{animation: spin 2s linear infinite;-webkit-animation: spin 1s linear infinite; /* Safari */}
.table-ideas-icon{float: left;margin-right: 1rem;font-size: 14px;height: 15px;}
.table-ideas-circle-state{height: 15px;width: 15px;border-radius: 50%;background-color: #ccc;float: left;margin-top: 4px;border:1px solid #333}
.table-ideas-circle-state.green{background-color: #19be00}
.table-ideas-circle-state.red{background-color: $secondary_color}
.table-ideas-circle-state.yellow{background-color: $primary_color}
.table-ideas-icon-link{cursor: pointer;}
.table-ideas-icon span{color: #333}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Perfil */
.perfil-container{max-width: 338px;margin: auto;
  @media screen and (min-width: 768px) {
    font-size:12px
   }}
.perfil-image{height: 180px;width: 180px;margin: auto;margin-bottom: 2.5rem;background-color: #f9f9f9;margin-top: 2rem;border-radius: 50%;position: relative;overflow: hidden;background-size: cover;background-position: center}
.perfil-image img{position: absolute;width: 100%;height: 100%;left: 0px;}
.perfil-image-hover{width: 100%;height: 100%;position: absolute;background-image: url("/../img/hover-img.png");border-radius: 50%;opacity: 0;transition: .3s;cursor: pointer;z-index: 2}
.perfil-image:hover .perfil-image-hover{opacity: 1;}
.perfil-image .input-avatar { opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%; cursor: pointer; z-index: 99}

/* IdeaState */
.ideastate-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ideastate-container-1{/*width: 240px; float: left */}
.ideastate-container-2{/*width: calc(90% - 240px); float: left; */}
.ideastate-container-2 p{color: #666666; font-size: 13px}

/* Premiacion */
.premiacion-img{width: 380px;margin: auto;text-align: center}
.premiacion .title{margin-bottom: .2rem}
.premiacion span{font-size: 16px;color:#333333;font-family: $font;font-weight: 600!important}
.premiacion-supervisor-container div:first-child{color: $primary_color;font-family: $font; font-size: 14px;line-height: 120%}
.premiacion-supervisor-container div:last-child{color: #333;font-family: $font;font-weight: 700!important;font-size: 14px;line-height: 120%;}
.premiacion-idea-description{color: #666666;font-family: $font;}

/* Administrator idea */
.evaluacion-sustento{font-family: $font;font-weight: 600!important;color: $secondary_color;text-transform: uppercase}
.evaluacion-sustento span{font-weight: 700!important;text-transform: uppercase;}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}
.playground .prism-code {
  background-color:$primary!important
 }

 .form-setStatic{position: relative;}
 .autocomplete{position: absolute;width: 100%;max-height: 400px;overflow: auto;border: 1px solid #b2b2b2;background-color: white;display: block;z-index: 3;visibility: hidden}
 .autocomplete-item {padding: 5px;padding-left: 14px}
 .autocomplete-item:hover{color:white;background-color: $primary_color;cursor:pointer}
 //input:focus + .autocomplete{visibility: visible}

  


/* Por revisar */
label.input-textarea {
  display: block
}

textarea.input-textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #b2b2b2;

  &:focus {
    border: 1px solid $primary_color;
    outline: 3px solid white !important;
  }
}

.form-check.list-square {
  position: relative;
}

.form-check-input.hidden {
  visibility: hidden;
  position: absolute;
  margin: 0;
}

.form-check-label.square {
  &.square {
    border: 1px solid rgba($color: #333, $alpha: 0.7);
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  &.selected {
    background: $primary_color;
    font-weight: bold;
  }
}

.container-combo {
  &.is-invalid {
    .helper-text {
      display: block;
    }
  }
}

.combobox {
  border: 1px solid #b2b2b2;
  padding: 5px;
  width: 100%;
  color: #777777;

  option {
    color: #000;
  }

  option:first-child {
    color: #777777;
  }
}

.clear-both-container {
  clear: both;
}

#message-execute {
  font-size: 16px;
}

.backdropChangeState {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #333, $alpha: 0.5);
  z-index: 99999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 600!important;
  padding-bottom: 220px;
}

/* LOADING */
.mis-ideas-container-carga-categorias{padding:200px 0px}
.mis-ideas-container-carga-category{padding:200px 0px}


.fade-enter {
  filter: opacity(0.01);
}

.fade-enter-done {
  filter: opacity(1);
  transition: all 1s;
}

.fade-exit {
  position: absolute;
  filter: opacity(0.1);
}

.fade-exit-active {
  filter: opacity(0.1);
  transition: all 1s;
}

.bubble-ideas{position: absolute;border-radius:12px;font-weight:bold;width: 140px; background-color: $primary_color;top: 90px;left:-16px;padding-left: 15px;padding-right: 15px;text-align: center;line-height: 150%;padding-top: 10px;padding-bottom: 10px;font-size: 14px;box-shadow: 2px 2px 12px rgba(0,0,0,.3);color:white;z-index: 99;opacity: 0;transition: 1s opacity, 1s top;display:none}
.bubble-ideas.exit{top:70px;-webkit-animation: exitbubble 1s 1;display: block;opacity: 0; }
.bubble-ideas.enter{top:50px;-webkit-animation: enterbubble 1s 1;display: block;opacity: 1; }
.bubble-ideas:hover{color:white;text-decoration: none}
.bubble-ideas::before{content: '';width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid $primary_color;position: absolute;top: -12px;left: 48px;}

/* Navbar dropdown */
.navbar-dropdown{position: absolute;border-radius:6px;font-weight:bold;width: 140px; background-color: white;top: 70px;left:-50px;font-size: 14px;box-shadow: 2px 2px 12px rgba(0,0,0,.3);color:white;z-index: 99;opacity: 1;transition: all 100ms;width: 190px;display: block;opacity: 0;visibility: hidden;display:none}
.navbar-dropdown::before{content: '';width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 18px solid white;position: absolute;top: -13px;left: 76px;}
.navbar-dropdown ul{padding: 0px;text-align: left;margin-bottom: 6px;margin-top: 6px}
.navbar-dropdown ul li{color: #333; font-family: $font;font-weight: 400;list-style-type: none;font-size: 13px;line-height: 120%;transition: .2s}
.navbar-dropdown .navbar-dropdown-link{height: 100%;width: 100%;padding-left: 15px;padding-top: 8px;padding-bottom: 8px;padding-right: 15px;display: block}
.navbar-dropdown ul li:hover{color: white;background-color: $primary_color}
.navbar-dropdown-text{float: left;width: 80%;color:#333;transition:.2s}
.navbar-dropdown ul li:hover .navbar-dropdown-text{color:white}
.navbar-dropdown-size{float: left;margin-right: 8px}
.navbar-dropdown-icon{padding-left: 5px;padding-right: 5px;background-color: $primary_color;border-radius:10px;font-size: 10px;color:white;transition: .3s;font-weight: 700!important}
.navbar-dropdown ul li:hover .navbar-dropdown-icon{background-color: white;color:$primary_color}
/* Animacion*/
.navbar-options-container-opt:hover .navbar-dropdown{opacity: 1;visibility: visible;top: 50px;display:block}


/* Notifications dropdown */
.notifications-dropdown{position: absolute;border-radius:6px;font-weight:bold;width: 300px; background-color: white;top: 70px;left:-133px;font-size: 14px;box-shadow: 2px 2px 12px rgba(0,0,0,.3);color:#333;z-index: 99;opacity: 1;transition: all 0ms;display: block;opacity: 0;visibility: hidden;font-family: $font;font-weight: 400;}
.notifications-dropdown-mx{width: 100%;height: 100%;overflow-x: hidden}
.notifications-dropdown::before{content: '';width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 18px solid white;position: absolute;top: -13px;left: 135px;}
.notifications-dropdown .notifications-box{overflow: hidden;}
.notifications-dropdown .notifications-box-date-container{width: 47px}
.notifications-dropdown .notifications-box-text-container{width: 254px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap}
.notifications-box-text-container-avatar{height: 50px;width: 50px;background-color: #b2b2b2 ;margin-right: 8px;margin-left: -2px;border-radius: 50%;background-size: cover;}
.notifications-box-text-container-content-name span{color: #b2b2b2;font-size: 12px}
/* Animacion*/
.notifications-open:hover .notifications-dropdown{opacity: 1;visibility: visible;top: 50px}
.notification-props-message .notification-props-time{display: block}


/* Perfil dropdown */
.perfil-dropdown{position: absolute;border-radius:6px;font-weight:bold;width: 180px; background-color: white;top: 70px;left:21px;font-size: 14px;box-shadow: 2px 2px 12px rgba(0,0,0,.3);color:#333;z-index: 101;display: block;opacity: 0;visibility: hidden;font-family: $font;font-weight: 400;display: none}
.perfil-dropdown::before{content: '';width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 18px solid white;position: absolute;top: -13px;left: 80px;}
.perfil-dropdown ul{padding: 0px;text-align: left;margin-bottom: 6px;margin-top: 6px}
.perfil-dropdown ul li{color: #333; font-family: $font;font-weight: 400;list-style-type: none;font-size: 13px;line-height: 120%;transition: .2s}
.perfil-dropdown ul li a{color: #333;transition: .2s;padding-left: 15px;padding-top: 8px;padding-bottom: 8px;padding-right: 15px;width: 100%;height: 100%;display: block;cursor: pointer;}
.perfil-dropdown ul li:hover a{text-decoration: none;color:white!important}
.perfil-dropdown ul li:hover a{color: white;background-color: $primary_color}
/* Animacion*/
.navbar-user-container{position:relative}
.navbar-user-container:hover .perfil-dropdown{opacity: 1;visibility: visible;top: 60px;display: block}

@-webkit-keyframes enterbubble {
  0% {opacity: 0;top:70px}
  100% {opacity: 1;top:50px}
}
@-webkit-keyframes exitbubble {
  0% {opacity: 1;top:50px}
  100% {opacity: 0;top:70px}
}

/* Notificaciones */
.notifications-title{font-size: 14px;color:#878787;text-transform: uppercase;font-weight: bold;font-family: $font;margin-bottom: 15px}
.notifications-page-container{padding-bottom: 40px;border-bottom: 1px dashed #ccc}
.notifications-page-container .notifications-box-text-container{width:calc(100% - 181px);text-align: left;height: 60px;}
.notifications-page-container a:last-child .notifications-box{border-bottom: 0px}
.notifications-page-container .notifications-box-text-container span{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 48%!important;}
.notifications-page-container .notifications-box-date-container{width:147px;margin-left: 20px}
.notifications-page-container .notifications-box-text-container{font-size: 13px}

.idea-progress-image{text-align: center}
.svg-idea-state{display: inline-block;width: 670px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px}
.svg-text, .svg-text-word{fill:white;font-family: $font;font-weight: 700!important}
.circle{fill:#a6a6a6;}
.rect{fill:#a6a6a6;}
.svg-text-word{fill:#a6a6a6;}

.svg-idea-state.stage1 .circle-1, .svg-idea-state.stage1 .svg-text-word-1,
.svg-idea-state.stage2 .circle-2, .svg-idea-state.stage2 .svg-text-word-2,
.svg-idea-state.stage3 .circle-2, .svg-idea-state.stage3 .svg-text-word-2,
.svg-idea-state.stage4 .circle-2, .svg-idea-state.stage4 .svg-text-word-2,
.svg-idea-state.stage5 .circle-3, .svg-idea-state.stage5 .svg-text-word-3,
.svg-idea-state.stage6 .circle-3, .svg-idea-state.stage6 .svg-text-word-3,
.svg-idea-state.stage7 .circle-4, .svg-idea-state.stage7 .svg-text-word-4,
{fill:#a71b1c}

.svg-no-click{pointer-events: none;}
.svg-no-click .circle,.svg-no-click .rect,.svg-no-click .svg-text-word {fill: hsl(0, 0%, 89%);}


//BAR IDEAS
.bar-ideas{width: 100%;height: 25px;background-color: #a6a6a6;}
.bar-ideas-transcurrido{background-color: #19be00;height: 100%;}

//USUARIOS
.usuarios-sidebar-opt{border-bottom: 1px dashed #ccc;padding-top: 10px;padding-bottom: 10px;padding-left: 10px;color:#333;display:block;font-weight: 600!important}
.usuarios-sidebar-opt.active{background-color: $primary_color;color:white}
.usuarios-content{padding-left: 20px}
.user-list-load{text-align: center;padding-top: 30px;padding-bottom: 30px}
.user-list-load div{background-color:$secondary_color;padding: 4px 15px;display: inline-block;color:white;font-weight: bold;cursor: pointer}
.searcher-user{float: right;}
.searcher-user input{border:0px;border-bottom: 2px solid #ddd}


.image-helper{color: #19be00;margin-top: 20px}
.spinner-animation{-webkit-animation: spinner 1s infinite linear}

@-webkit-keyframes spinner{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.notification-props{padding-bottom: 8px;border-bottom:1px solid #ccc}
.chatBox-message .spinner-animation{color:white}
.admin-home-rest{text-align: center; margin: 50px 0px;color:$secondary_color}
.notification-props-tag-see{margin-left: 5px;background-color: #aaa}


.notifications-page-container .notifications-box-text-container{width: calc(100% - 13px)}


.filtro-estadisticas{
  padding-left: 14px;
  padding-right: 14px;
  width:100%;

  .option{
    margin-right:30px;
    display:inline-block;

      .titulo{
        display: inline-block;
        margin-right: 3px
      }

      select{
        display: inline-block;
        margin-left: 10px;
        min-width: 140px;
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
      }
      
      &.no-option{
        margin-right: 0px
      }
  }

}

.table-statistics{
  margin-top:20px;
  th{line-height: 17px;padding-left: 10px}
}

.estadistica-title{text-transform: capitalize;font-size: 15px;padding: 3px 6px;color:$secondary_color;border:1px solid $secondary_color;border-radius: 5px;text-decoration: unset; transition:.3s}
.estadistica-title:hover{color: white; background-color: $secondary_color; text-decoration: unset;}

// Loading App
.loading-app{
  position:fixed;
  height: 100vh;
  width:100vw;
  top:0;
  left:0;
  background-color: white;
  z-index: 99999;

  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
    img{
      width: auto!important
    }
  }
  .loading-bar{
    width: 500px;
    height: 5px;
    top: 20px;
    background-color: #aaa;

    .loading-bar-progress{
      width: 0%;
      height: 5px;
      background-color: #b71a1b;
      transition: .3s all
    }
  }
  
}
.hide-alert{visibility: hidden}
.table-ideas-icon{position: relative}

.table-ideas-icon-tooltip{
  position: absolute;
  bottom: 20px;
  width: 116px; 
  left: -47px;
  text-align: center;
  background-color: #222;
  font-size: 12px;
  color:white;
  padding: 5px 9px;
  border-radius: 3px;
  display: none;

}

.table-ideas-icon span:hover + .table-ideas-icon-tooltip{display: block}
.table-ideas-circle-state{margin-right: 0px!important}
.table-ideas-circle-state:hover .table-ideas-icon-tooltip{display: block}
.chat-card-date-container-data-date{line-height: 110%;}

.image-box-noti-img{height: 100%;width: 100%;position: absolute;left: 0px;}

.loading-app .logo{width:auto!important}
.loading-app .logo img{width:500px!important;margin-bottom: 20px;}
.toggle-category{display: none}
//.set-type-idea.set-type-idea:first-child .clearfix{display: block}
//.clearfix{display: none}

.navbar-color-sup{
  background-color: #a81c1d;
  .navbar-notification-container{
    border-color: white
  }
  .navbar-redes-box{
    border-color: white;
    color:white
  }
  .navbar-options-container-opt:hover, .navbar-user-hover:hover{
    background-color: #841616
  }
  .navbar-redes-box span{
    color:white
  }
}

@media screen and (max-width: 668px) {
  .category-description{
    padding-top: 20px;
    padding-right: 8%;
  }
  
    .idea-progress{
      .idea-progress-container-im{
        overflow: auto;

      .idea-progress-image{
        width: 200%;
      }
    }
  }
  

  .form-category-create{
    padding-left: 20px;
    padding-right: 20px;

    .button-editar-create-category{

      .float-left, .float-right{
        width: 100%;
        margin-left:0px!important
      }

      button{
        margin-left: 0px!important;
        margin-top:10px;
        width:100%;
      }
      
    }
  }

  .category-detail-container{
    margin-bottom: 40px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
  }
  .evaluate-progress-container{
    font-size: 13px;
  }
  .toggle-category{
    display: block;
    font-size:15px;
      &.active{
        span{
          transform: rotate(180deg)
        }
      }
  }
  .CategoryDetail{
    margin-top: 40px;
    display: none;
  }
  .ideastate-container{
    display: block;
    .ideastate-container-1{
      margin-right: 0px!important;
    }
  }
  
}

.dropdown-setter{position: absolute; top: -20px;height: 20px;width:100%}
.table{margin-bottom: 0rem!important}

.table tr:last-child td{border-bottom: 1px dashed #ccc; }
.ver-todos{display:block;text-align: center;font-weight: 700;color: $secondary_color;padding-top: 10px;padding-bottom: 10px; text-decoration: none!important}
.center-me{text-align: center;}
.notificacion-message-inde{width:100%;text-align: center;margin-top: 14px;font-size: 13px;color: #b71a1b;margin-bottom: 20px}
.see-all-noti{text-align: center;padding-bottom: 5px;font-size: 13px;padding-bottom: 5px;color: $secondary_color;display: block}
.login-responsive{display: none}

@media(max-width: 700px){
  .login-logo{display: none;}
  .login-container{padding-top: 30px;height: 350px;margin-top:0px;}
  .login-view{height: 550px;}
  .login-container form, .login-container .login-forget-password {display: none}
  .login-responsive{display: block;text-align: center}
  .login-responsive img{width: 80%;}
  .login-responsive div{display: block;margin-top: 30px;font-size: 16px;}
}
.notifications-container-page{padding-top: 20px;padding-bottom: 20px;margin-bottom: 10px;border-bottom: 1px dashed #ccc}
.notifications-options-page{float: right; cursor: pointer}
.notifications-option-page{display: inline-block; margin-left: 18px;font-size: 13px;padding-right: 20px;border-right: 1px solid #ccc}
.notifications-option-page:last-child{border-right: 0px}
.notifications-title{margin-bottom: 0px;margin-top: 0px!important;float: left}
.notifications-page-container .notifications-box{margin-bottom: 20px}
.notifications-option-page.active{color: $secondary_color}

.image-down{width: 77px;}
.align-text-to-right{text-align: right}
.all-width img{display: inline-block}
.image-down-2{
  margin-top: 30px;
}